.about_us {

  @include desktop {
    padding: 32px 0;
  }


  .container {
    flex-direction: column;

    .row {
      display: flex;

      flex-direction: column;
      border-radius: 30px;
      margin-bottom: 32px;
      padding: 24px;
      background-color: #1F1F1F;
      color: #FFFFFF;
      box-shadow: var(--box--shadow);
      @include desktop {
        flex-direction: row;

        justify-content: space-between;

      }

      &:first-of-type {
        @include desktop {
          flex-direction: row-reverse;
        }

        .text {
          @include desktop {
            max-width: 50%;
          }
        }
      }

      &:nth-of-type(2) {
        flex-direction: unset;
        flex-wrap: wrap;
        justify-content: center;

        @include desktop {

          flex-direction: row;

        }

        .text {
          @include desktop {
            max-width: 50%;
            margin: 0 auto;
          }
        }
      }

      &:nth-of-type(3) {
        padding: 48px;
        @include desktop {
          flex-direction: column;

        }
      }

      &:nth-of-type(4) {
        flex-direction: column;
        background-color: transparent;

        box-shadow: none;
        h1 {
          font-size: 2.5rem;
          line-height: 48px;
          font-weight: 700;
          text-align: center;
          color: var(--text--color);
          @include desktop {
            font-size: 3.5rem;
          }
        }

        .p_adnotation {
          display: none;
          font-weight: lighter;
          font-size: 1rem;
          text-align: center;
          color: var(--text--color);
          line-height: 22px;
          margin: 16px;
          text-decoration: underline;
          @include desktop {
            display: block;
            align-self: unset;
            font-size: 1.125rem;
            line-height: 25px;
          }

        }

        ._mobile {
          display: block;
          text-decoration: underline;
          @include desktop {
            display: none;
          }
        }

      }

      .text {
        display: flex;
        flex-direction: column;
        color: #ffffff;
        @include desktop {
          justify-content: center;
        }

        h1 {
          font-size: 2.5rem;
          line-height: 48px;
          font-weight: 700;
          margin-left: 16px;
          @include desktop {
            margin: 16px;
            font-size: 3.5rem;
          }
        }

        p {
          font-weight: lighter;
          font-size: 1rem;
          margin: 16px;
          color: #ffffff;
          line-height: 22px;
          align-self: center;
          @include desktop {
            align-self: unset;
            font-size: 1.125rem;
            line-height: 25px;
          }
        }
      }

      img {
        width: 100%;
        margin-bottom: 16px;
        align-self: center;
      @include desktop {
        margin-bottom: 0;
      }
      }

      .img1 {
        border-radius: 30px;
        @include desktop {
          max-width: 400px;
        }
      }

      .img2 {
        border-radius: 30px;
        @include desktop {
          max-width: 400px;
        }
      }
      h2 {
        font-size: 1.5rem;
        font-weight: 600;
        @include desktop {
          font-size: 2rem;
          width: 60%;
        }
      }

      .p_row {
        font-size: 1rem;
        margin: 16px 0;
        color: #ffffff;
        line-height: 22px;
        font-weight: 500;
        @include desktop {
          font-size: 1.5rem;
          line-height: 25px;
        }
      }

      ul {
        list-style: inside;

        li {
          margin-bottom: 8px;
          @include desktop {
            font-size: 1.125rem;
            line-height: 25px;
          }
        }
      }

      .cards {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 32px;
        max-width: 1600px;

        .card {
          width: 18rem;
          height: 24rem;
          overflow: hidden;
          cursor: pointer;
          position: relative;
          color: #FFFFFF;
          box-shadow:var(--box--shadow);
          background-color: #1F1F1F;
          @include desktop {
            width: 24rem;
            height: 36rem;
          }

          img {
            position: absolute;
            object-fit: cover;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 1;
            transition: opacity .2s ease-out;

          }

          h3 {
            position: absolute;
            inset: auto auto 30px 25px;
            margin: 0;
            transition: inset .3s .3s ease-out;
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: normal;
            text-transform: uppercase;
            font-size: 1.5rem;
            @include desktop {
              font-size: 2rem;
              inset: auto auto 30px 30px;
            }
          }

          p {
            position: absolute;
            opacity: 0;
            max-width: 90%;
            transition: opacity .3s ease-out;
            line-height: 22px;
            @include desktop {
              max-width: 80%;
            }
          }

          p {
            inset: auto auto 80px 15px;
            @include desktop {
              inset: auto auto 80px 30px;
            }
          }

          .icon {
            margin-left: 16px;
          }

          &:hover h3, &:focus h3 {
            inset: auto auto 300px 15px;
            transition: inset .3s ease-out;
            @include desktop {
              inset: auto auto 220px 30px;
            }
          }

          &:hover p, &:focus p {
            opacity: 1;
            transition: opacity .5s .1s ease-in;
          }

          &:hover img, &:focus img {
            transition: opacity .3s ease-in;
            opacity: 0.5;
          }
        }

        .material-symbols-outlined {
          vertical-align: middle;
        }
      }
    }
  }
}
