#cards{
  padding: 32px 0 ;



  @include desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to left, #1F1F1F 25%, transparent 20%);
    height:425px;
    padding: 64px 0 ;
  }
  .container{

    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;

    img{
      width: 200px;
      border-radius: 15px;
    }
  }
}
