footer {
  padding: 24px 16px ;
  box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.2);
  @include desktop {
    padding: 48px 0 16px;
  }

  .container {
    flex-direction: column;
    align-items: flex-start;

    img {
      width: 200px;
      margin-bottom: 16px;
      @include desktop {
        width: 250px;
      }
    }

    .adress_mobile {
      font-size: 1.5rem;
      font-weight: 700;
      color: #0D0B0B;
      margin: 8px 0;
      @include desktop {
        display: none;
      }
    }
    .link_m{
      display: block;
      @include desktop {
        display: none;

        margin-right: 32px;
      }
    }
    .logo_d {
      display: none;
      @include desktop {

        display: block;
        margin-right: 32px;

      }

    }

    .row {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;
      flex-wrap: wrap;
      @include desktop {
        flex-direction: row;
        &:first-of-type {
          margin-bottom: 16px;
        }
      }
      .links {
        display: flex;
        flex-direction: column;
        gap: 16px;
        @include desktop{
          flex-direction: row;
        }
        .cards_link {
          display: flex;
          align-items: center;

          line-height: 22px;
          text-decoration: underline;

          &:hover {
            color: green;
          }

          img {
            width: 10%;
            border-radius: 10px;
            margin: 0 8px 0 0;
          }
        }
      }
      .col {
        margin-bottom: 16px;

        &:nth-of-type(2) {
          display: none;
          @include desktop {
            display: block;
            min-width: 120px;
          }
        }

        &:nth-of-type(4) {
          @include desktop {
            min-width: 300px;
          }
        }

        &:nth-of-type(3) {
          p {
            margin-bottom: 4px;
            font-weight: 700;
            font-size: 1.125rem;
            @include desktop {
              margin-bottom: 8px;
            }
          }

          span {
            font-size: 1rem;
          }
        }


        p {
          margin-top: 8px;
          color: rgba(0, 0, 0, 0.7);

          &:first-of-type {
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 16px;
            color: #0D0B0B;
          }

          &:hover {
            color: #0D0B0B;
            font-weight: 700;
          }

        }

        .icon {
          margin-right: 8px;
        }
      }

      .copy {
        padding: 16px 0 16px;
        width: 100%;
        text-align: center;
        position: relative;
        @include desktop {
          padding: 32px 0 16px;
        }

        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          width: 100%;
          height: 1px;
          background-color: rgba(0, 0, 0, 0.4);
          margin: 0 0 32px;
        }
      }
    }
  }
}
a{
  text-decoration: none;
  color: #0D0B0B;
}
.link {
  border: 1px solid #0D0B0B;
  background-color: #ffffff;
  color: #0D0B0B;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
  font-weight: 600;
  font-size: 0.9rem;
  border-radius: 15px;
  padding: 10px 20px;
  cursor:pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    border: 1px solid #ffffff;
    background-color: #0D0B0B;
    color: #ffffff;
  }
  .button_icon{
    margin-left: 8px;
  }
}
