:root{
  --gradient: linear-gradient(45deg,
          #feda75, /* Light Yellow */
          #fa7e1e, /* Orange */
          #d62976, /* Pink */
          #962fbf, /* Purple */
          #4f5bd5 /* Blue */
  );
}


main {
  @include desktop {
    background: linear-gradient(to left, var(--gradient--bg) 25%, transparent 20%);

  }

  .container {
    flex-direction: column;
    @include desktop {
      flex-direction: row;
      align-items: flex-end;
    }

    .main_text {
      align-self: center;

      h1 {
        font-size: 2.5rem;
        line-height: 48px;
        font-weight: 700;
        color: var(--text--color);
        @include desktop {
          font-size: 3.5rem;

        }
      }

      h2 {
        font-size: 1.5rem;
        margin: 8px 0;
        font-weight: 700;
        color: var(--text--color);
        @include desktop {
          font-size: 2.5rem;
          margin: 16px 0;
        }
      }

      p {
        font-weight: lighter;
        font-size: 1.25rem;
        margin: 16px 0;
        color: var(--grey);
        @include desktop {

          margin: 0;
          font-size: 2rem;
          width: 70%;
        }
      }



      .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 3rem;
        margin-top: 48px;
        margin-bottom: 16px;
        position: relative;
        gap:16px;
        @include desktop{
          justify-content: unset;
        }

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: var(--box--shadow);
          font-weight: 600;
          font-size: 1.125rem;
          border-radius: 15px;
          width: 100%;
          max-width: 290px;
          background-color: #0D0B0B;
          color: #ffffff;
          padding: 18px 36px;
          transition: all 0.5s ease-in-out;
          border: 1px solid #ffffff;
          @include desktop{
            width: auto;
            max-width: unset;
          }




        }
        .sign_in{
          background-color: var(--button--background--color);
          color: var(--button--text--color);

          &:hover {
            border: solid 1px var(--button--hover--color);
            background-color: var(--background--color);
            color: var(--button--hover--color);
          }

        }
        .fb {
          background-color: #3b5998;
          border: 1px solid #3b5998;
          &:hover {
            border: 1px solid #3b5998;
            background-color: #ffffff;
            color: #3b5998;
          }
        }
        .ig {
          background-size: 200%;
          background-position: 10%;
          background-image: var(--gradient);
          border:solid 1px transparent;
          &:hover {
            background-position: right;
            color: #FFFFFF;

          }
        }
        .icon {
          font-size: 1.5rem;
          display: block;
          margin-right: 8px;
          cursor: pointer;
          @include desktop {
            font-size: 1.5rem;
            display: block;
            margin-right: 8px;
          }
        }
      }

    }
    img {
      width: 100%;
      @include desktop {
       width: 50%;
      }
    }
  }
}
