#opinions {
  padding: 32px 0 ;
  @include desktop{
    padding: 64px 0 ;
  }
  .container{
    flex-direction: column;

    .text{
      text-align: center;
      margin-bottom: 32px;
      @include desktop{
        text-align: left;
      }

      h1{
        font-size: 2.5rem;
        line-height: 48px;
        font-weight: 700;
        color: var(--text--color);
        @include desktop{
          font-size: 3.5rem;

        }
      }
    }

      .opinions_cards {
        width: 90%;
        max-width: 1200px;
        margin-bottom: 32px;
        position: relative;
        transition: transform 0.5s ease;
        &_card {
          border: solid 1px var(--text--color);
          border-radius: 30px;
          padding: 24px;

          width: 232px;
           box-sizing: border-box;
          color: var(--text--color);
          h2 {
            font-size: 1.5rem;
            font-weight: 700;
          }

          .stars {
            margin: 16px 0;

            .star {
              color: var(--text--color);
              margin-right: 4px;
            }
          }

          p {
            line-height: 20px;
          }
        }

        &_buttons {
          display: flex;
          gap: 16px;

          &_button {
            color: var(--background--color);
            border: solid 2px var(--text--color);
            background-color: var(--button--hover--color);
            background-position: center;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            padding: 10px;
            cursor: pointer;

            &:nth-of-type(2) {
              color: var(--button--hover--color);
              background-color: var(--background--color);

            }
          }
        }
      }
    }
  }
